<div id="meshingModal" class="modal fade floating-window">
    <div class="modal-dialog">

        <div class="modal-content med3d-modal">

            <div class="modal-header med3d-modal-header">
                <img class="navbar-image" src="assets/img/med3D-icon.png" width="24" height="24">
                <button type="button" class="med3d-close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select meshing parameters</h4>
            </div>

            <!--<div class="modal-body" style="padding: 15px;">-->
            <div class="modal-body" style="padding: 15px; height: 350px;">

                <label>Detected cap sizes:</label>

                <div style="
                    height: 180px;
                    margin-bottom: 10px;
                    overflow-y:scroll;
                    overflow-x:hidden;
                    ">

                    <div ng-repeat="cap in capInfo" style="margin-bottom: 15px;">
                        <label class="item-cap-modal">Cap {{cap.capIdx}}: {{cap.radius.toFixed(4)}} cm</label>
                    </div>

                </div>

                <label style="font-size: small; font-weight: 600; color: #666;">Choose an appropriate edge size to mesh the model. You can start at approx. one half of the radius of the last (smallest) cap.
                    A smaller edge size results in a finer mesh and a finer subsequent simulation, but can take a long time to compute.</label>

                <div class="form-group">
                    <label for="edgeSize">Edge size (cm):</label>
                    <input type="number" class="form-control" id="edgeSize" ng-model="edgeSize" onclick="this.select();">
                </div>

            </div>

            <div class="modal-footer med3d-modal-footer">
                <button type="button" class="btn med3d-btn-default" data-dismiss="modal">Close</button>

                <div class="tooltip-wrapper disabled" data-toggle="tooltip" title="Please enter a valid edge size." style="display: inline-block">
                    <button id="createMeshButton" type="button" class="btn med3d-btn-primary" ng-disabled="edgeSize <= 0" disabled="disabled">Create mesh</button>
                </div>

            </div>

        </div>
    </div>
</div>