
 body {
    overflow-x: hidden;
 }

 a:hover, a:active, a:focus {
    outline: 0;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: hidden;
}

#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 350px;
    height: 100%;
    margin-left: -300px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #2D2D2D;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-color: #080808;
    border-right: solid;
    border-right-width: 1px;
    border-bottom: solid;
    border-bottom-width: 1px;
}

 .toggled #sidebar-wrapper {
     opacity: 1 !important;
 }

.sidebar-content-title {
    display: none;
    height: 40px;
    line-height: 44px;
    font-size: 18px;
    padding-left: 20px;
    color: #fff;
}


.sidebar-content-title.title-active  {
    display: block;
}

 .sidebar-sub-content-title {
     display: block;
     font-size: 16px;
     font-weight: 500;
     padding-left: 15px;
     margin-top: 5px;
     color: #fff;
 }

.sidebar-content {
    width: 100%;
    float: left;
    margin-left: -100%;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-content.content-active, .sidebar-content.content-transition {
    float: none;
}

.sidebar-content.content-active {
    margin-left: 0%;
}


#wrapper.toggled #sidebar-wrapper {
    margin-left: 0px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}


/* Sidebar Styles */

.sidebar-nav {
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-nav-wrapper {
  width: 50px;
  height: auto;
  display: block;
  float: right;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: #49B2B2;
    border-radius: 5px 5px 5px 5px;
}


.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-icon {
    width: 17px;
    height: 17px;
}

.icon-eye-enabled {
    background: url(assets/img/ico_vis.png) no-repeat;
}

 .sidebar-icon-gray-bg {
     width: 27px;
     height: 27px;
     padding: 4px;
     border-radius: 2px 2px 2px 2px;
     background-color: #8d8d8d;
 }

 .sidebar-icon-gray-bg:hover {
     background-color: #b5b5b5;
 }

 .sidebar-icon-black-bg {
     width: 27px;
     height: 27px;
     padding: 4px;
     border-radius: 2px 2px 2px 2px;
     /*background-color: #1d1d1d;*/
 }

 .sidebar-icon-black-bg:hover {
     background-color: #767676;
 }

 .right {
     float: right;
 }


/* When navigation bar opened */
#wrapper.toggled .sidebar-nav li, #wrapper.transition .sidebar-nav li {
    display:none;
}

#wrapper.toggled .sidebar-nav li.active, #wrapper.transition .sidebar-nav li.active {
    display:list-item;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled .sidebar-nav li.active a:hover  {
    background: #C7282B;
}

#wrapper.transition .sidebar-nav li.active a:hover  {
    background: #46474C;
}



 .sidebar-content-scrollable {
     /*width: 100%;*/
     /*float: left;*/
     /*margin-left: -100%;*/
     /*overflow: hidden;*/
     /*-webkit-transition: all 0.5s ease;*/
     /*-moz-transition: all 0.5s ease;*/
     /*-o-transition: all 0.5s ease;*/
     /*transition: all 0.5s ease;*/
     /*height:730px;*/
     /*overflow-y:scroll;*/
     /*overflow-x:hidden*/
 }


 .sidebar-cap-item {
     height: 125px;
     margin: 5px 0px 10px 10px;
     padding: 8px;
     border-radius: 3px 3px 3px 3px !important;
     background-color: #C8C8C8;
     border-width: 0;
     cursor: pointer;
 }

 .sidebar-cap-item-active {
     background-color: #dcdcff;
 }


 body::-webkit-scrollbar-thumb {
     background-color: darkgrey;
     outline: 1px solid slategrey;
 }